<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>jhbkn</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <title>asdfg</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
