# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.floristWebApp.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Rana\Desktop\saü\Web Programlama\floristWebApp\.idea\.idea.floristWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
