@model UpdateCategoryModel

<form asp-action="UpdateCategory" asp-controller="Category" asp-area="Admin" method="post"
      class="w-75 mx-auto p-3" enctype="multipart/form-data">

    <input type="hidden" asp-for="@Model.Id" />

    <div class="form-group">
        <label>Category Name:</label>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <input asp-for="@Model.Name" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" asp-controller="Category" asp-area="Admin"
           class="btn btn-warning">Return</a>
    </div>
</form>

@section JavaScript{
    <script src="~/jqueryvalid/jquery.validate.min.js"></script>
    <script src="~/jqueryunob/jquery.validate.unobtrusive.min.js"></script>
}